openapi: 3.0.2
info:
  title: '294 Internal API Documentation'
  version: '1'
  description: |
    
    ## Useful Links
      - [Current Database Schema](https://yuiborodin.xyz/static/specs/294_UserAndPropertiesFunctions.html)
      - [Current Backend API Functionality Schema](https://yuiborodin.xyz/static/specs/294_UserAndPropertiesFunctions.html)
      - [Current Workflow Schema](https://yuiborodin.xyz/static/specs/294_UserAndPropertiesFunctions.html)

    ---
    ## Conventions
    In this documentation file accepted conventions are as listed below. <br>
    Completed methods are marked as <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
    <br>Tested methods marked as <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">

    ---
    <h4 align="center"> Author: Yury Borodin

    <br> Gitlab: [yuiborodin](https://git.miem.hse.ru/yuiborodin)
    <br> VK: [borodin.yury](https://vk.com/borodin.yury)
    <br> Email: <a href="mailto:yuiborodin@miem.hse.ru">yuiborodin@miem.hse.ru
    </h4>
    ---
  
  contact:
    name: Urgent LockAndRent API Support
    email: api_support@lockandrent.ru

  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html

servers:
  - url: https://lockandrent.ru/
    description: main url for PRODUCTION USE
  - url: https://yuiborodin.xyz/
    description: main url for testing API
security:
  - bearerAuth: []
paths:
# AUTH PATHS
  /api/v1/auth/register/:
    post:
      operationId: register
      description: |
        This method is used for account registration
        <br>
        <br><img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Completed"> <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Tested">
      requestBody:
        content:
          application/json:
            schema:
              properties:
                first_name:
                  type: string
                  writeOnly: true
                last_name:
                  type: string
                  writeOnly: true
                email:
                  type: string
                  writeOnly: true
                password:
                  type: string
                  writeOnly: true
                password2:
                  type: string
                  writeOnly: true
              required:
                - first_name
                - last_name
                - password
                - password2
      responses:
        '201':
          $ref: '#/components/responses/200_OK'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
        - AuthAPI
  /api/v1/auth/token/:
    post:
      operationId: createTokenPair
      description: |
        Takes a set of user credentials and returns an access and refresh
        JSON web token pair to prove the authentication of those credentials.
        <br>
        <br><img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Completed"> <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Tested">
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenObtainPair'
      responses:
        '200':
          $ref: '#/components/responses/200_OK'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
        - AuthAPI
  /api/v1/auth/token/refresh/:
    post:
      operationId: tokenRefresh
      description: 'Takes a refresh type JSON web token and returns an access type
          JSON web

          token if the refresh token is valid.'
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRefresh'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenRefresh'
          description: ''
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
        - AuthAPI
  /api/v1/auth/token/verify/:
    post:
      operationId: tokenVerify
      description: 'Takes a token and indicates if it is valid.  This view provides
          no

          information about a token''s fitness for a particular use.'
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenVerify'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenVerify'
          description: ''
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
        - AuthAPI
  /api/v1/auth/logout/:
    
    post:
      operationId: logoutFromCurrentSession
      description: |
        Takes a given refresh token and blacklists it.
        - Requires access token (isAuthenticated permission) passed with the request.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRefresh'
      responses:
        '205':
          description: '205 Reset Content'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
        - AuthAPI
  /api/v1/auth/logoutall/:
    post:
      operationId: logoutFromAllSessions
      description: |
        Blacklists all tokens associated with the user that sent the request.
        - Requires access token (isAuthenticated permission) passed with the request.
      parameters: []
      responses:
        '205':
          description: '205 Reset Content'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
        - AuthAPI
# PROPERTY GROUPS
  /api/v1/property-groups/{group:id}/:
    get:
      operationId: retrieveGroup
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        <br>
        This method is used for retrieving information about a
        particular group
      parameters:
      - name: group:id
        in: path
        required: true
        description: A unique integer value identifying the property.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
          description: ''
        '404':
          $ref: '#/components/responses/404_Not_Found'
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/401BadToken'
                  - $ref: '#/components/schemas/401Unauthorized'
              example:
                errors: [ "Invalid Token : Given token is not valid"
                ]
                status_code: 401
          description: 'Might return 401 Invalid token or 401 Unauthorized, see "Schemas"'
        '403':
          $ref: '#/components/responses/403_Forbidden'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
      - GroupsAPI
    put:
      operationId: updateGroup
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        <br>This method is used for updating information about a particular group.

      parameters:
      - name: group:id
        in: path
        required: true
        description: A unique integer value identifying this property.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
          description: ''
        '404':
          $ref: '#/components/responses/404_Not_Found'
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/401BadToken'
                  - $ref: '#/components/schemas/401Unauthorized'
              example:
                errors: [ "Invalid Token : Given token is not valid"
                ]
                status_code: 401
          description: 'Might return 401 Invalid token or 401 Unauthorized, see "Schemas"'
        '403':
          $ref: '#/components/responses/403_Forbidden'
        '422':
          $ref: '#/components/responses/422_Invalid_Data_Property'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
        - GroupsAPI
    delete:
      operationId: deleteGroup
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        <br>This method is used for delete action for a particular group.
      parameters:
      - name: group:id
        in: path
        required: true
        description: A unique integer value identifying this property.
        schema:
          type: string
      responses:
        '204':
          $ref: '#/components/responses/204_Deleted'
        '404':
          $ref: '#/components/responses/404_Not_Found'
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/401BadToken'
                  - $ref: '#/components/schemas/401Unauthorized'
              example:
                errors: [ "Invalid Token : Given token is not valid"
                ]
                status_code: 401
          description: 'Might return 401 Invalid token or 401 Unauthorized, see "Schemas"'
        '403':
          $ref: '#/components/responses/403_Forbidden'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
      - GroupsAPI
  /api/v1/property-groups/:
    get:
      operationId: listGroups
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        <br>This method is used for retrieving a list of groups.

      parameters: []
      responses:
        '200':
          $ref: '#/components/responses/200_OK_Groups_Paginated'
      tags:
      - GroupsAPI
    post:
      operationId: createGroup
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        <br>This method is used for creating a group.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
          description: ''
        '422':
          $ref: '#/components/responses/422_Invalid_Data_Property'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
      - GroupsAPI
# PROPERTY GROUPS MEMBERS
  /api/v1/property-groups/{group:id}/members/{member:id}/:
    get:
      operationId: retrieveGroupMember
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        <br>
        This method is used for retrieving information about members of a particular group
      parameters:
      - name: group:id
        in: path
        required: true
        description: A unique integer value identifying the group.
        schema:
          type: string
      - name: member:id
        in: path
        required: true
        description: A unique integer value identifying the member.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
          description: ''
        '404':
          $ref: '#/components/responses/404_Not_Found'
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/401BadToken'
                  - $ref: '#/components/schemas/401Unauthorized'
              example:
                errors: [ "Invalid Token : Given token is not valid"
                ]
                status_code: 401
          description: 'Might return 401 Invalid token or 401 Unauthorized, see "Schemas"'
        '403':
          $ref: '#/components/responses/403_Forbidden'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
      - GroupsAPI.Members
    put:
      operationId: updateGroupMember
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        <br>This method is used for updating information about a particular group member.

      parameters:
      - name: group:id
        in: path
        required: true
        description: A unique integer value identifying this property.
        schema:
          type: string
      - name: member:id
        in: path
        required: true
        description: A unique integer value identifying the member.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Member'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
          description: ''
        '404':
          $ref: '#/components/responses/404_Not_Found'
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/401BadToken'
                  - $ref: '#/components/schemas/401Unauthorized'
              example:
                errors: [ "Invalid Token : Given token is not valid"
                ]
                status_code: 401
          description: 'Might return 401 Invalid token or 401 Unauthorized, see "Schemas"'
        '403':
          $ref: '#/components/responses/403_Forbidden'
        '422':
          $ref: '#/components/responses/422_Invalid_Data_Property'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
        - GroupsAPI.Members
    delete:
      operationId: deleteGroupMember
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        <br>This method is used for delete action for a particular group member.
      parameters:
      - name: group:id
        in: path
        required: true
        description: A unique integer value identifying this property.
        schema:
          type: string
      - name: member:id
        in: path
        required: true
        description: A unique integer value identifying the member.
        schema:
          type: string
      responses:
        '204':
          $ref: '#/components/responses/204_Deleted'
        '404':
          $ref: '#/components/responses/404_Not_Found'
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/401BadToken'
                  - $ref: '#/components/schemas/401Unauthorized'
              example:
                errors: [ "Invalid Token : Given token is not valid"
                ]
                status_code: 401
          description: 'Might return 401 Invalid token or 401 Unauthorized, see "Schemas"'
        '403':
          $ref: '#/components/responses/403_Forbidden'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
      - GroupsAPI.Members
  /api/v1/property-groups/{group:id}/members/:
    get:
      operationId: listGroupsMembers
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        <br>This method is used for retrieving a list of group members.

      parameters:
      - name: group:id
        in: path
        required: true
        description: A unique integer value identifying the group.
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/200_OK_Members_Paginated'
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/401BadToken'
                  - $ref: '#/components/schemas/401Unauthorized'
              example:
                errors: [ "Invalid Token : Given token is not valid"
                ]
                status_code: 401


          description: 'Might return 401 Invalid token or 401 Unauthorized, see "Schemas"'
        '403':
          $ref: '#/components/responses/403_Forbidden'
      tags:
      - GroupsAPI.Members
    post:
      operationId: createGroupMember
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        <br>This method is used for creating a group member.
      parameters:
      - name: group:id
        in: path
        required: true
        description: A unique integer value identifying this property.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Member'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
          description: 'Success.'
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/401BadToken'
                  - $ref: '#/components/schemas/401Unauthorized'
              example:
                errors: [ "Invalid Token : Given token is not valid"
                ]
                status_code: 401


          description: 'Might return 401 Invalid token or 401 Unauthorized, see "Schemas"'
        '403':
          $ref: '#/components/responses/403_Forbidden'
        '422':
          $ref: '#/components/responses/422_Invalid_Data_Property'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
      - GroupsAPI.Members
  /api/v1/property-groups/{group:id}/members/delete/:
    post:
      operationId: deleteGroupsMembers
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        <br>Use this method to delete members of a group.
        A `can_remove_members` permission of a group member is neccessary. 
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteMembersBulk'
      parameters:
      - name: group:id
        in: path
        required: true
        description: A unique integer value identifying the group.
        schema:
          type: string
      responses:
        '204':
          description: "OK."
        '404':
          $ref: '#/components/responses/404_Not_Found'
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/401BadToken'
                  - $ref: '#/components/schemas/401Unauthorized'
              example:
                errors: [ "Invalid Token : Given token is not valid"
                ]
                status_code: 401


          description: 'Might return 401 Invalid token or 401 Unauthorized, see "Schemas"'
        '403':
          $ref: '#/components/responses/403_Forbidden'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
      - GroupsAPI.Members
  
    

# PROPERTY GROUPS PROPERTIES
  /api/v1/property-groups/{group:id}/properties/:

    get:
      operationId: listGroupProperties
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        <br>This method is used for retrieving a list of group's properties.

      parameters:
      - name: group:id
        in: path
        required: true
        description: A unique integer value identifying this property.
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/200_OK_Property_Member_Paginated'
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/401BadToken'
                  - $ref: '#/components/schemas/401Unauthorized'
              example:
                errors: [ "Invalid Token : Given token is not valid"
                ]
                status_code: 401


          description: 'Might return 401 Invalid token or 401 Unauthorized, see "Schemas"'
        '403':
          $ref: '#/components/responses/403_Forbidden'
      tags:
      - GroupsAPI.Properties
    post:
      operationId: addPropertiesToGroup
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        <br>This method is used for creating a group property member (adding a property to a group).
      parameters:
      - name: group:id
        in: path
        required: true
        description: A unique integer value identifying this property.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyAddToGroup'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyGroupMembership'
          description: ''
        '422':
          $ref: '#/components/responses/422_Invalid_Data_Property'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
      - GroupsAPI.Properties

  /api/v1/property-groups/{group:id}/properties/delete/:
    post:
      operationId: deletePropertiesFromGroup
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        <br>Use this method to delete proprerties from a group.
        A `can_delete_properties` permission of a group member is neccessary. 

      parameters:
      - name: group:id
        in: path
        required: true
        description: A unique integer value identifying the group.
        schema:
          type: string
      responses:
        '204':
          description: "OK."
        '404':
          $ref: '#/components/responses/404_Not_Found'
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/401BadToken'
                  - $ref: '#/components/schemas/401Unauthorized'
              example:
                errors: [ "Invalid Token : Given token is not valid"
                ]
                status_code: 401


          description: 'Might return 401 Invalid token or 401 Unauthorized, see "Schemas"'
        '403':
          $ref: '#/components/responses/403_Forbidden'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
      - GroupsAPI.Properties

# PROPERTIES
  /api/v1/properties/{properties:id}/:
    get:
      operationId: retrieveProperty
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        <br>
        This method is used for retrieving information about a
        particular property
      parameters:
      - name: properties:id
        in: path
        required: true
        description: A unique integer value identifying the property.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Property'
          description: ''
        '404':
          $ref: '#/components/responses/404_Not_Found'
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/401BadToken'
                  - $ref: '#/components/schemas/401Unauthorized'
              example:
                errors: [ "Invalid Token : Given token is not valid"
                ]
                status_code: 401
          description: 'Might return 401 Invalid token or 401 Unauthorized, see "Schemas"'
        '403':
          $ref: '#/components/responses/403_Forbidden'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
      - PropertiesAPI
    patch:
      operationId: partiallyUpdateProperty
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        Method to partially update property.
      deprecated: true
      parameters:
      - name: properties:id
        in: path
        required: true
        description: A unique integer value identifying this property.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Property'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Property'
          description: ''
        '404':
          $ref: '#/components/responses/404_Not_Found'
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/401BadToken'
                  - $ref: '#/components/schemas/401Unauthorized'
              example:
                errors: [ "Invalid Token : Given token is not valid"
                ]
                status_code: 401
          description: 'Might return 401 Invalid token or 401 Unauthorized, see "Schemas"'
        '403':
          $ref: '#/components/responses/403_Forbidden'
        '422':
          $ref: '#/components/responses/422_Invalid_Data_Property'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
        - PropertiesAPI
    put:
      operationId: updateProperty
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        <br>This method is used for updating information of a particular property.
      parameters:
      - name: properties:id
        in: path
        required: true
        description: A unique integer value identifying this property.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Property'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Property'
          description: ''
        '404':
          $ref: '#/components/responses/404_Not_Found'
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/401BadToken'
                  - $ref: '#/components/schemas/401Unauthorized'
              example:
                errors: [ "Invalid Token : Given token is not valid"
                ]
                status_code: 401
          description: 'Might return 401 Invalid token or 401 Unauthorized, see "Schemas"'
        '403':
          $ref: '#/components/responses/403_Forbidden'
        '422':
          $ref: '#/components/responses/422_Invalid_Data_Property'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
      - PropertiesAPI
    delete:
      operationId: deleteProperty
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
       
        ---
        <br>This method is used for delete action for a particular property.
      parameters:
      - name: properties:id
        in: path
        required: true
        description: A unique integer value identifying this property.
        schema:
          type: string
      responses:
        '204':
          $ref: '#/components/responses/204_Deleted'
        '404':
          $ref: '#/components/responses/404_Not_Found'
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/401BadToken'
                  - $ref: '#/components/schemas/401Unauthorized'
              example:
                errors: [ "Invalid Token : Given token is not valid"
                ]
                status_code: 401
          description: 'Might return 401 Invalid token or 401 Unauthorized, see "Schemas"'
        '403':
          $ref: '#/components/responses/403_Forbidden'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
      - PropertiesAPI
  /api/v1/properties/:
    get:
      operationId: listProperties
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        <br>This method is used for retrieving a list of properties.
        <br> All properties with visibility level of 100 will be shown here.
        
      parameters: 
      - name: search
        in: query
        required: false
        description: search string.
        schema:
          type: string
          example: "Very good property"
      - name: number_of_clients
        in: query
        required: false
        description: number of clients filter
        schema:
          type: integer
          example: 1
      - name: type
        in: query
        required: false
        description: property type code filter
        schema:
          type: integer
          example: 100
      - name: city
        in: query
        required: false
        description: city filter
        schema:
          type: string
          example: "Moscow"
      - name: street
        in: query
        required: false
        description: street filter
        schema:
          type: string
          example: "Street"
      - name: booking_type
        in: query
        required: false
        description: booking type code filter
        schema:
          type: integer
          example: 100
          enum:
            - 100
            - 200
      - name: min_price
        in: query
        required: false
        description: price is greater than or equal to filter
        schema:
          type: integer
          example: 100
      - name: max_price
        in: query
        required: false
        description: price is less than or equal to filter
        schema:
          type: integer
          example: 1000
      - name: ordering
        in: query
        required: false
        description: ordering filter
        schema:
          type: string
          example: "price"
          enum:
            - price
            - -price
            - created_at
            - -created_at
      responses:
        '200':
          $ref: '#/components/responses/200_OK_Properties_Paginated'
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/401BadToken'
                  - $ref: '#/components/schemas/401Unauthorized'
              example:
                errors: [ "Invalid Token : Given token is not valid"
                ]
                status_code: 401
          description: 'Might return 401 Invalid token or 401 Unauthorized, see "Schemas"'
      tags:
      - PropertiesAPI
    post:
      operationId: createProperty
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        <br>This method is used for creating a property.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Property'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Property'
          description: ''
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/401BadToken'
                  - $ref: '#/components/schemas/401Unauthorized'
              example:
                errors: [ "Invalid Token : Given token is not valid"
                ]
                status_code: 401
          description: 'Might return 401 Invalid token or 401 Unauthorized, see "Schemas"'
        
        '422':
          $ref: '#/components/responses/422_Invalid_Data_Property'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
      - PropertiesAPI
# PROPERTIES FAVORITE
  /api/v1/properties/{properties:id}/favorite/:
    put:
      operationId: setFavortiteProperty
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        <br>This method is used for adding a property to favorites.

      parameters:
      - name: properties:id
        in: path
        required: true
        description: A unique integer value identifying this property.
        schema:
          type: string

      responses:
        '200':

          description: 'Added.'
        '404':
          $ref: '#/components/responses/404_Not_Found'
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/401BadToken'
                  - $ref: '#/components/schemas/401Unauthorized'
              example:
                errors: [ "Invalid Token : Given token is not valid"
                ]
                status_code: 401
          description: 'Might return 401 Invalid token or 401 Unauthorized, see "Schemas"'
        '403':
          $ref: '#/components/responses/403_Forbidden'
      tags:
      - PropertiesAPI.Favorites
    delete:
      operationId: deleteFavoriteProperty
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        <br>This method is used for removing a property from favorites.
      parameters:
      - name: properties:id
        in: path
        required: true
        description: A unique integer value identifying this property.
        schema:
          type: string
      responses:
        '204':
          $ref: '#/components/responses/204_Deleted'
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/401BadToken'
                  - $ref: '#/components/schemas/401Unauthorized'
              example:
                errors: [ "Invalid Token : Given token is not valid"
                ]
                status_code: 401
          description: 'Might return 401 Invalid token or 401 Unauthorized, see "Schemas"'
        '403':
          $ref: '#/components/responses/403_Forbidden'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
      - PropertiesAPI.Favorites

# PROPERTIES BOOKINGS PATHSBookingsAPI

  /api/v1/properties/{properties:id}/bookings/:
    get:
      operationId: listPropertyBookings
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        This method is used for retrieving a list of bookings for the property with `properties:id`.
      parameters:
      - name: properties:id
        in: path
        required: true
        description: A unique integer value identifying the property.
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/200_OK_Bookings_Paginated'
        '404':
          $ref: '#/components/responses/404_Not_Found'
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/401BadToken'
                  - $ref: '#/components/schemas/401Unauthorized'
              example:
                errors: [ "Invalid Token : Given token is not valid"
                ]
                status_code: 401


          description: 'Might return 401 Invalid token or 401 Unauthorized, see "Schemas"'
        '403':
          $ref: '#/components/responses/403_Forbidden'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
      - BookingsAPI
    post:
      operationId: createPropertyBooking
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        
        <br>Use this endpoint in order to create a booking for a particular property.
        <br> *This endpoint could be used by any authenticated user. If the owner of the property
        doest the booking, the status is automatically set to `ACCEPTED`*.
        <br> *The `AWAITING` and `DECLINED` statuses are awailable only if the
        property has `requires_additional_confirmation` parameter set to `true`.*

        __Note that if the booking is being created for the property with
        daily type of bookings then there's no need to provide the time and
        the timezone. Timezone offset is optional.__


        __Cliend email is needed only if the owner creates the booking, otherwise the email of the current auth user is used.__

        Extended docs: [Gitlab](https://git.miem.hse.ru/294/web-294/-/wikis/API/%D0%A0%D0%B5%D1%81%D1%83%D1%80%D1%81%D1%8B/%D0%91%D1%80%D0%BE%D0%BD%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F/%D0%A1%D0%BE%D0%B7%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5-%D0%B1%D1%80%D0%BE%D0%BD%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F)
      parameters:
      - name: properties:id
        in: path
        required: true
        description: A unique integer value identifying the property.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Booking'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
          description: ''
        '422':
          $ref: '#/components/responses/422_Invalid_Data_Property'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
        '403':
          $ref: '#/components/responses/403_Forbidden'
      tags:
      - BookingsAPI
  /api/v1/properties/{properties:id}/bookings/{bookings:id}/:
    get:
      operationId: retrievePropertyBooking
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---

        This method is used for retrieving information about a
        particular booking.
      parameters:
      - name: properties:id
        in: path
        required: true
        description: A unique integer value identifying the property.
        schema:
          type: string
      - name: bookings:id
        in: path
        required: true
        description: A unique integer value identifying the booking.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
          description: ''
        '404':
          $ref: '#/components/responses/404_Not_Found'
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/401BadToken'
                  - $ref: '#/components/schemas/401Unauthorized'
              example:
                errors: [ "Invalid Token : Given token is not valid"
                ]
                status_code: 401


          description: 'Might return 401 Invalid token or 401 Unauthorized, see "Schemas"'
        '403':
          $ref: '#/components/responses/403_Forbidden'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
      - BookingsAPI
    put:
      operationId: updatePropertyBooking
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        
        This method is used for updating a booking.
      parameters:
      - name: properties:id
        in: path
        required: true
        description: A unique integer value identifying this property.
        schema:
          type: string
      - name: bookings:id
        in: path
        required: true
        description: A unique integer value identifying the booking.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingUpdate'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingUpdate'
          description: ''
        '404':
          $ref: '#/components/responses/404_Not_Found'
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/401BadToken'
                  - $ref: '#/components/schemas/401Unauthorized'
              example:
                errors: [ "Invalid Token : Given token is not valid"
                ]
                status_code: 401
          description: 'Might return 401 Invalid token or 401 Unauthorized, see "Schemas"'
        '403':
          $ref: '#/components/responses/403_Forbidden'
        '422':
          $ref: '#/components/responses/422_Invalid_Data_Property'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
      - BookingsAPI
    delete:
      operationId: archivePropertyBooking
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        
        Use this method to archive a particular booking - it will not show in lists of bookings.
      parameters:
      - name: properties:id
        in: path
        required: true
        description: A unique integer value identifying this property.
        schema:
          type: string
      - name: bookings:id
        in: path
        required: true
        description: A unique integer value identifying the booking.
        schema:
          type: string
      responses:
        '204':
          $ref: '#/components/responses/204_Deleted'
        '404':
          $ref: '#/components/responses/404_Not_Found'
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/401BadToken'
                  - $ref: '#/components/schemas/401Unauthorized'
              example:
                errors: [ "Invalid Token : Given token is not valid"
                ]
                status_code: 401
          description: 'Might return 401 Invalid token or 401 Unauthorized, see "Schemas"'
        '403':
          $ref: '#/components/responses/403_Forbidden'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'

      tags:
      - BookingsAPI
  /api/v1/properties/{properties:id}/bookings/{bookings:id}/cancel/:
    post:
      operationId: cancelPropertyBooking
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        
        Use this method to cancel a particular booking.
      
      parameters:
      - name: properties:id
        in: path
        required: true
        description: A unique integer value identifying this property.
        schema:
          type: string
      - name: bookings:id
        in: path
        required: true
        description: A unique integer value identifying the booking.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelBooking'
      responses:
        '200':
          description: 'Booking is now cancelled.'
        '404':
          $ref: '#/components/responses/404_Not_Found'
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/401BadToken'
                  - $ref: '#/components/schemas/401Unauthorized'
              example:
                errors: [ "Invalid Token : Given token is not valid"
                ]
                status_code: 401
          description: 'Might return 401 Invalid token or 401 Unauthorized, see "Schemas"'
        '403':
          $ref: '#/components/responses/403_Forbidden'
        '422':
          $ref: '#/components/responses/422_Invalid_Data_Property'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
      - BookingsAPI
# PROPERTIES OWNERS PATHS
  /api/v1/properties/{properties:id}/owners/:
    get:
      operationId: listPropertyOwners
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        
        This method is used for retrieving information about owners of a
        particular property
        <br> Requires one of the permissions: 
        
        - `can_manage_owners`
        - `is_creator`
      parameters:
      - name: properties:id
        in: path
        required: true
        description: A unique integer value identifying the property.
        schema:
          type: string
      responses:
        '200':
            $ref: '#/components/responses/200_OK_Owners_Paginated'
        '404':
          $ref: '#/components/responses/404_Not_Found'
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/401BadToken'
                  - $ref: '#/components/schemas/401Unauthorized'
              example:
                errors: [ "Invalid Token : Given token is not valid"
                ]
                status_code: 401


          description: 'Might return 401 Invalid token or 401 Unauthorized, see "Schemas"'
        '403':
          $ref: '#/components/responses/403_Forbidden'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
      - PropertiesAPI.OwnersAPI
    post:
      operationId: addPropertyOwner
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        This method is used to add an owner to the property.
        <br> Requires one of the permissions: 
        
        - `can_add_owners`
        - `is_creator`
      parameters:
      - name: properties:id
        in: path
        required: true
        description: A unique integer value identifying the property.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Owner'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Owner'
          description: ''
        '422':
          $ref: '#/components/responses/422_Invalid_Data_Property'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
      - PropertiesAPI.OwnersAPI
  /api/v1/properties/{properties:id}/owners/{owners:id}:
    get:
      operationId: retrievePropertyOwner
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        This method is used for retrieving information about a single owner of a particular property
        <br> Requires one of the permissions: 
        
        - `can_manage_owners`
        - `is_creator`
      
      parameters:
      - name: properties:id
        in: path
        required: true
        description: A unique integer value identifying the property.
        schema:
          type: string
      - name: owners:id
        in: path
        required: true
        description: A unique integer value identifying the owner.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Owner'
          description: ''
        '404':
          $ref: '#/components/responses/404_Not_Found'
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/401BadToken'
                  - $ref: '#/components/schemas/401Unauthorized'
              example:
                errors: [ "Invalid Token : Given token is not valid"
                ]
                status_code: 401


          description: 'Might return 401 Invalid token or 401 Unauthorized, see "Schemas"'
        '403':
          $ref: '#/components/responses/403_Forbidden'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
      - PropertiesAPI.OwnersAPI
    put:
      operationId: updatePropertyOwner
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        This endpoint updates owner's permissions and other information.

        Note: this endpoint is available only if the authenticated user
        has one of these permissions:
          - `can_manage_owners`

          - `has_super_owner_permissions`
          - `is_creator`
      parameters:
      - name: properties:id
        in: path
        required: true
        description: A unique integer value identifying this property.
        schema:
          type: string
      - name: owners:id
        in: path
        required: true
        description: A unique integer value identifying the owner.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Owner'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Owner'
          description: ''
        '404':
          $ref: '#/components/responses/404_Not_Found'
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/401BadToken'
                  - $ref: '#/components/schemas/401Unauthorized'
              example:
                errors: [ "Invalid Token : Given token is not valid"
                ]
                status_code: 401
          description: 'Might return 401 Invalid token or 401 Unauthorized, see "Schemas"'
        '403':
          $ref: '#/components/responses/403_Forbidden'
        '422':
          $ref: '#/components/responses/422_Invalid_Data_Property'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
      - PropertiesAPI.OwnersAPI
    delete:
      operationId: removePropertyOwner
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        This method is used to delete an owner.

        <br> Requires one of the permissions or sets of permissions: 
        
        - `can_delete_owners` & `can_manage_owners` 
        - `is_creator`

      parameters:
      - name: properties:id
        in: path
        required: true
        description: A unique integer value identifying this property.
        schema:
          type: string
      - name: owners:id
        in: path
        required: true
        description: A unique integer value identifying the owner.
        schema:
          type: string
      responses:
        '204':
          $ref: '#/components/responses/204_Deleted'
        '404':
          $ref: '#/components/responses/404_Not_Found'
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/401BadToken'
                  - $ref: '#/components/schemas/401Unauthorized'
              example:
                errors: [ "Invalid Token : Given token is not valid"
                ]
                status_code: 401
          description: 'Might return 401 Invalid token or 401 Unauthorized, see "Schemas"'
        '403':
          $ref: '#/components/responses/403_Forbidden'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
      - PropertiesAPI.OwnersAPI
# PROPERTIES IMAGES PATHS
  /api/v1/properties/{properties:id}/images/:
    put:
      operationId: uploadPropertyImages
      parameters:
      - name: properties:id
        in: path
        required: true
        description: A unique integer value identifying this property.
        schema:
          type: string
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">

        ---
        This endpoint is used to upload one or many images of the property.
        <br> Requires one of the permissions: 
        
        - `can_add_images`
        - `is_creator`
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ImageToUpload'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyImageToRepr'
          description: ''
        '404':
          $ref: '#/components/responses/404_Not_Found'
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/401BadToken'
                  - $ref: '#/components/schemas/401Unauthorized'
              example:
                errors: [ "Invalid Token : Given token is not valid"
                ]
                status_code: 401


          description: 'Might return 401 Invalid token or 401 Unauthorized, see "Schemas"'
        '403':
          $ref: '#/components/responses/403_Forbidden'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
      - PropertiesAPI.Images
    delete:
      operationId: deletePropertyImages
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">

        ---
        This endpoint is used to delete one or many images of the property.
        <br> Requires one of the permissions: 
        
        - `can_delete_images`
        - `is_creator`
      parameters:
      - name: images
        in: query
        required: true
        description: Images for deletion.
        schema:
          type: array
          items:
            type: integer
        style: form
        explode: false
        examples:
          oneId:
            summary: Example of a Image delete
            value: [5]   # ?ids=5
          multipleIds:
            summary: Example of multiple Image delete
            value: [1, 5, 7]   # ?ids=1,5,7
      - name: properties:id
        in: path
        required: true
        description: A unique integer value identifying this property.
        schema:
          type: string

      responses:
        '204':

          description: ''
        '403':
          $ref: '#/components/responses/403_Forbidden'
      tags:
      - PropertiesAPI.Images
  /api/v1/properties/{properties:id}/images/set_main_image/:
    put:
      operationId: setMainPropertyImage
      parameters:
      - name: properties:id
        in: path
        required: true
        description: A unique integer value identifying this property.
        schema:
          type: string
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">

        ---
        This method is used to change main image of the property.
        <br> Requires one of the permissions: 
        
        - `can_add_images`
        - `can_edit`
        - `is_creator`
      
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Property'
          description: ''
        '404':
          $ref: '#/components/responses/404_Not_Found'
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/401BadToken'
                  - $ref: '#/components/schemas/401Unauthorized'
              example:
                errors: [ "Invalid Token : Given token is not valid"
                ]
                status_code: 401


          description: 'Might return 401 Invalid token or 401 Unauthorized, see "Schemas"'
        '403':
          $ref: '#/components/responses/403_Forbidden'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
      - PropertiesAPI.Images
# PROPERTIES LOCKS PATHS
  /api/v1/properties/{properties:id}/locks/:
    get:
      operationId: listPropertyLocks
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        <br>
        This method is used for retrieving information about a list of locks of a
        particular property
        <br> Requires one of the permissions: 
        
        - `can_manage_locks`
        - `is_creator`
      parameters:
      - name: properties:id
        in: path
        required: true
        description: A unique integer value identifying the property.
        schema:
          type: string
      responses:
        '200':
            $ref: '#/components/responses/200_OK_Locks_Paginated'
        '404':
          $ref: '#/components/responses/404_Not_Found'
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/401BadToken'
                  - $ref: '#/components/schemas/401Unauthorized'
              example:
                errors: [ "Invalid Token : Given token is not valid"
                ]
                status_code: 401


          description: 'Might return 401 Invalid token or 401 Unauthorized, see "Schemas"'
        '403':
          $ref: '#/components/responses/403_Forbidden'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
      - PropertiesAPI.Locks
    post:
      operationId: addPropertyLock
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        <br>
        This method is used for adding a locks to a
        particular property
        <br> Requires one of the permissions: 
        
        - `can_add_locks`
        - `is_creator`
      parameters:
      - name: properties:id
        in: path
        required: true
        description: A unique integer value identifying the property.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LockCreate'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lock'
          description: ''
        '403':
          $ref: '#/components/responses/403_Forbidden'
        '404':
          $ref: '#/components/responses/404_Not_Found'
        '422':
          $ref: '#/components/responses/422_Invalid_Data_Property'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
      - PropertiesAPI.Locks
  /api/v1/properties/{properties:id}/locks/{lock:id}:
    get:
      operationId: retrievePropertyLock
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        <br>
        This method is used for retrieving information about a particular lock of the property.
        <br> Requires one of the permissions: 
        
        - `can_manage_locks`
        - `is_creator`
      parameters:
      - name: properties:id
        in: path
        required: true
        description: A unique integer value identifying the property.
        schema:
          type: string
      - name: lock:id
        in: path
        required: true
        description: A unique integer value identifying the lock.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lock'
          description: ''
        '404':
          $ref: '#/components/responses/404_Not_Found'
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/401BadToken'
                  - $ref: '#/components/schemas/401Unauthorized'
              example:
                errors: [ "Invalid Token : Given token is not valid"
                ]
                status_code: 401


          description: 'Might return 401 Invalid token or 401 Unauthorized, see "Schemas"'
        '403':
          $ref: '#/components/responses/403_Forbidden'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
      - PropertiesAPI.Locks
    put:
      operationId: updatePropertyLock
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        <br>
        This endpoint updates lock's description
        <br> Requires one of the permissions: 
        
        - `can_manage_locks`
        - `is_creator`
      parameters:
      - name: properties:id
        in: path
        required: true
        description: A unique integer value identifying this property.
        schema:
          type: string
      - name: lock:id
        in: path
        required: true
        description: A unique integer value identifying the lock.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lock'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lock'
          description: ''
        '404':
          $ref: '#/components/responses/404_Not_Found'
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/401BadToken'
                  - $ref: '#/components/schemas/401Unauthorized'
              example:
                errors: [ "Invalid Token : Given token is not valid"
                ]
                status_code: 401
          description: 'Might return 401 Invalid token or 401 Unauthorized, see "Schemas"'
        '403':
          $ref: '#/components/responses/403_Forbidden'
        '422':
          $ref: '#/components/responses/422_Invalid_Data_Property'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
      - PropertiesAPI.Locks
    delete:
      operationId: deletePropertyLock
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        <br>
        This endpoint deletes the lock from the property.
        <br> Requires one of the permissions: 
        
        - `can_delete_locks`
        - `is_creator`
      parameters:
      - name: properties:id
        in: path
        required: true
        description: A unique integer value identifying this property.
        schema:
          type: string
      - name: lock:id
        in: path
        required: true
        description: A unique integer value identifying the lock.
        schema:
          type: string
      responses:
        '204':
          $ref: '#/components/responses/204_Deleted'
        '404':
          $ref: '#/components/responses/404_Not_Found'
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/401BadToken'
                  - $ref: '#/components/schemas/401Unauthorized'
              example:
                errors: [ "Invalid Token : Given token is not valid"
                ]
                status_code: 401
          description: 'Might return 401 Invalid token or 401 Unauthorized, see "Schemas"'
        '403':
          $ref: '#/components/responses/403_Forbidden'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
      - PropertiesAPI.Locks
# PROPERTIES LOCKS CARDS PATHS
  /api/v1/properties/{properties:id}/locks/{lock:id}/cards/:
    get:
      operationId: listPropertyCards
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        <br>
        This method is used for retrieving information about cards of a lock of a
        particular property
      parameters:
      - name: properties:id
        in: path
        required: true
        description: A unique integer value identifying the property.
        schema:
          type: string
      - name: lock:id
        in: path
        required: true
        description: A unique integer value identifying the lock.
        schema:
          type: string
      responses:
        '200':
            $ref: '#/components/responses/200_OK_Cards_Paginated'
        '404':
          $ref: '#/components/responses/404_Not_Found'
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/401BadToken'
                  - $ref: '#/components/schemas/401Unauthorized'
              example:
                errors: [ "Invalid Token : Given token is not valid"
                ]
                status_code: 401


          description: 'Might return 401 Invalid token or 401 Unauthorized, see "Schemas"'
        '403':
          $ref: '#/components/responses/403_Forbidden'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
      - PropertiesAPI.Locks.Cards
    post:
      operationId: addPropertyLockCard
      description: ''
      parameters:
      - name: properties:id
        in: path
        required: true
        description: A unique integer value identifying the property.
        schema:
          type: string
      - name: lock:id
        in: path
        required: true
        description: A unique integer value identifying the lock.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Card'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
          description: ''
        '404':
          $ref: '#/components/responses/404_Not_Found'
        '422':
          $ref: '#/components/responses/422_Invalid_Data_Property'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
      - PropertiesAPI.Locks.Cards
  /api/v1/properties/{properties:id}/locks/{lock:id}/cards/{card:id}/:
    get:
      operationId: retrievePropertyLockCard
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        This method is used for retrieving information about a single card of the lock.
      parameters:
      - name: properties:id
        in: path
        required: true
        description: A unique integer value identifying the property.
        schema:
          type: string
      - name: lock:id
        in: path
        required: true
        description: A unique integer value identifying the lock.
        schema:
          type: string
      - name: card:id
        in: path
        required: true
        description: A unique integer value identifying the card.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
          description: ''
        '404':
          $ref: '#/components/responses/404_Not_Found'
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/401BadToken'
                  - $ref: '#/components/schemas/401Unauthorized'
              example:
                errors: [ "Invalid Token : Given token is not valid"
                ]
                status_code: 401


          description: 'Might return 401 Invalid token or 401 Unauthorized, see "Schemas"'
        '403':
          $ref: '#/components/responses/403_Forbidden'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
      - PropertiesAPI.Locks.Cards
    delete:
      operationId: deletePropertyLockCard
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        This method is used to delete the card from the lock.
      
      parameters:
      - name: properties:id
        in: path
        required: true
        description: A unique integer value identifying this property.
        schema:
          type: string
      - name: lock:id
        in: path
        required: true
        description: A unique integer value identifying the lock.
        schema:
          type: string
      - name: card:id
        in: path
        required: true
        description: A unique integer value identifying the card.
        schema:
          type: string
      responses:
        '204':
          $ref: '#/components/responses/204_Deleted'
        '404':
          $ref: '#/components/responses/404_Not_Found'
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/401BadToken'
                  - $ref: '#/components/schemas/401Unauthorized'
              example:
                errors: [ "Invalid Token : Given token is not valid"
                ]
                status_code: 401
          description: 'Might return 401 Invalid token or 401 Unauthorized, see "Schemas"'
        '403':
          $ref: '#/components/responses/403_Forbidden'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
      - PropertiesAPI.Locks.Cards

# PROPERTIES LOCKS ACCESSES
  /api/v1/properties/{properties:id}/locks/{lock:id}/accesses/:
    get:
      operationId: listPropertyLockAccesses
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">

        ---
        This method is used for retrieving information about a single lock's accesses.
      parameters:
      - name: properties:id
        in: path
        required: true
        description: A unique integer value identifying the property.
        schema:
          type: string
      - name: lock:id
        in: path
        required: true
        description: A unique integer value identifying the lock.
        schema:
          type: string

      responses:
        '200':
          $ref: '#/components/responses/200_OK_Locks_Access_Paginated'

        '404':
          $ref: '#/components/responses/404_Not_Found'
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/401BadToken'
                  - $ref: '#/components/schemas/401Unauthorized'
              example:
                errors: [ "Invalid Token : Given token is not valid"
                ]
                status_code: 401


          description: 'Might return 401 Invalid token or 401 Unauthorized, see "Schemas"'
        '403':
          $ref: '#/components/responses/403_Forbidden'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
      - PropertiesAPI.Locks.Accesses
# PROPERTIES LOCKS KEYS PATHS
  /api/v1/properties/{properties:id}/locks/{lock:id}/keys/:
    get:
      operationId: listPropertyKeys
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        
        This method is used for retrieving a list key-codes.
      parameters:
      - name: properties:id
        in: path
        required: true
        description: A unique integer value identifying the property.
        schema:
          type: string
      - name: lock:id
        in: path
        required: true
        description: A unique integer value identifying the lock.
        schema:
          type: string
      responses:
        '200':
            $ref: '#/components/responses/200_OK_Keys_Paginated'
        '404':
          $ref: '#/components/responses/404_Not_Found'
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/401BadToken'
                  - $ref: '#/components/schemas/401Unauthorized'
              example:
                errors: [ "Invalid Token : Given token is not valid"
                ]
                status_code: 401


          description: 'Might return 401 Invalid token or 401 Unauthorized, see "Schemas"'
        '403':
          $ref: '#/components/responses/403_Forbidden'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
      - PropertiesAPI.Locks.Keys
    post:
      operationId: createPropertyLockKey
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        This method is used to create a single key-code.
      parameters:
      - name: properties:id
        in: path
        required: true
        description: A unique integer value identifying the property.
        schema:
          type: string
      - name: lock:id
        in: path
        required: true
        description: A unique integer value identifying the lock.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Key'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Key'
          description: ''
        '404':
          $ref: '#/components/responses/404_Not_Found'
        '422':
          $ref: '#/components/responses/422_Invalid_Data_Property'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
      - PropertiesAPI.Locks.Keys
  /api/v1/properties/{properties:id}/locks/{lock:id}/keys/{key:id}/:
    get:
      operationId: retrievePropertyLockkey
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        
        This method is used for retrieving a single key-code.
      parameters:
      - name: properties:id
        in: path
        required: true
        description: A unique integer value identifying the property.
        schema:
          type: string
      - name: lock:id
        in: path
        required: true
        description: A unique integer value identifying the lock.
        schema:
          type: string
      - name: key:id
        in: path
        required: true
        description: A unique integer value identifying the card.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Key'
          description: ''
        '404':
          $ref: '#/components/responses/404_Not_Found'
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/401BadToken'
                  - $ref: '#/components/schemas/401Unauthorized'
              example:
                errors: [ "Invalid Token : Given token is not valid"
                ]
                status_code: 401


          description: 'Might return 401 Invalid token or 401 Unauthorized, see "Schemas"'
        '403':
          $ref: '#/components/responses/403_Forbidden'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
      - PropertiesAPI.Locks.Keys
    delete:
      operationId: deletePropertyLockkey
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope"><br>
        
        ---
        Remove key from property.
      parameters:
      - name: properties:id
        in: path
        required: true
        description: A unique integer value identifying this property.
        schema:
          type: string
      - name: lock:id
        in: path
        required: true
        description: A unique integer value identifying the booking.
        schema:
          type: string
      - name: key:id
        in: path
        required: true
        description: A unique integer value identifying the card.
        schema:
          type: string
      responses:
        '204':
          $ref: '#/components/responses/204_Deleted'
        '404':
          $ref: '#/components/responses/404_Not_Found'
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/401BadToken'
                  - $ref: '#/components/schemas/401Unauthorized'
              example:
                errors: [ "Invalid Token : Given token is not valid"
                ]
                status_code: 401
          description: 'Might return 401 Invalid token or 401 Unauthorized, see "Schemas"'
        '403':
          $ref: '#/components/responses/403_Forbidden'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
      - PropertiesAPI.Locks.Keys
# PROPERTIES AVAILABILITY PATHS
  /api/v1/properties/{properties:id}/available/:
    post:
      operationId: checkPropertyDailyAvailability
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        <br>
        This method is used for retrieving information about availability of a property.
        <br> 
        ONLY WORKS FOR DAILY  BOOKING TYPE.
      parameters:
      - name: properties:id
        in: path
        required: true
        description: A unique integer value identifying the property.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DailyAvailablePost'
      responses:
        '200':
          description: 'The property can be booked.'
        '409':
          description: 'The property cannot be booked.'
        '404':
          $ref: '#/components/responses/404_Not_Found'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
      - PropertiesAPI.Availability
    get:
      operationId: getPropertyHourlySlotsAvailability
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        <br>
        This endpoint is used to retrieve free slots for a date. Works only on properties with HOURLY booking type - otherwise returns 400.
        Slots can be empty with 200 OK, which means the property can be booked today, but there are no available slots.
        <br>
        IF THE PROPERTY IS NOT AVAILABLE AT THAT DAY - returns 409 with empty slots array.
      parameters:
      - name: properties:id
        in: path
        required: true
        description: A unique integer value identifying the property.
        schema:
          type: string
      - name: date
        in: query
        required: true
        description: A date for the check.
        schema:
          type: string
          example: '2020-02-12'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlotsList'
          description: 'The property can be booked and the slots are available.'
        '409':

          description: 'The property cannot be booked.'

        '404':
          $ref: '#/components/responses/404_Not_Found'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
      - PropertiesAPI.Availability
# PropertiesAPI.AvailabilityExceptions
  /api/v1/properties/{properties:id}/availability-exceptions/:
    post:
      operationId: addPropertyAvailabilityException
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        <br>
        This method is used for adding availability exceptions for the property.
        
        <br> Requires `can_edit` permissions for the property.
      parameters:
      - name: properties:id
        in: path
        required: true
        description: A unique integer value identifying the property.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailabilityException'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityException'
          description: 'OK. Created.'
        '404':
          $ref: '#/components/responses/404_Not_Found'
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/401BadToken'
                  - $ref: '#/components/schemas/401Unauthorized'
              example:
                errors: [ "Invalid Token : Given token is not valid"
                ]
                status_code: 401


          description: 'Might return 401 Invalid token or 401 Unauthorized, see "Schemas"'
        '403':
          $ref: '#/components/responses/403_Forbidden'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
      - PropertiesAPI.AvailabilityExceptions
    get:
      operationId: getPropertyAvailabilityExcetions
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        <br>
        This method is used for accessing a list of availability exceptions for the property.
        
        <br> Requires `can_edit` permissions for the property.
      parameters:
      - name: properties:id
        in: path
        required: true
        description: A unique integer value identifying the property.
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/200_OK_AvailabilityException_Paginated'
          description: ''
        '404':
          $ref: '#/components/responses/404_Not_Found'
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/401BadToken'
                  - $ref: '#/components/schemas/401Unauthorized'
              example:
                errors: [ "Invalid Token : Given token is not valid"
                ]
                status_code: 401


          description: 'Might return 401 Invalid token or 401 Unauthorized, see "Schemas"'
        '403':
          $ref: '#/components/responses/403_Forbidden'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
      - PropertiesAPI.AvailabilityExceptions
  /api/v1/properties/{properties:id}/availability-exceptions/delete/:
    post:
      operationId: deletePropertyAvailabilityExceptions
      description: |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope">
        
        ---
        <br>
        This method is used for adding availability exceptions for the property.
        
        <br> Requires `can_edit` permissions for the property.
      parameters:
      - name: properties:id
        in: path
        required: true
        description: A unique integer value identifying the property.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkDeleteById'
      responses:
        '204':
          description: 'Ok. Deleted.'

        '404':
          $ref: '#/components/responses/404_Not_Found'
        '401':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/401BadToken'
                  - $ref: '#/components/schemas/401Unauthorized'
              example:
                errors: [ "Invalid Token : Given token is not valid"
                ]
                status_code: 401


          description: 'Might return 401 Invalid token or 401 Unauthorized, see "Schemas"'
        '403':
          $ref: '#/components/responses/403_Forbidden'
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
      - PropertiesAPI.AvailabilityExceptions


# USER PATHS
  /api/v1/user/:
    get:
      operationId: retrieveUser
      description:
        |
        <img src="https://icon-library.com/images/completed-icon/completed-icon-6.jpg" width="30" height="30" alt="Computer Hope">
        <img src="https://icon-library.com/images/5752c5f99c.svg.svg" width="30" height="30" alt="Computer Hope"><br>
        
        ---
        Retrieve information about the authenticated user with that endpoint. <br>
        
      #parameters:
      #  - in: query
      #    name: expand
      #    schema:
      #      type: array
      #      items:
      #        type: string
      #    style: form
      #    explode: false
      #    examples:
      #      oneId:
      #        summary: Example of a single parameter
      #        value: ["emails"]   # ?ids=5
      #      multipleIds:
      #        summary: Example of multiple parameters
      #        value: ["emails", "docs"]   # ?ids=1,5,7
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: ''
        '400':
          $ref: '#/components/responses/400_Bad_Request_Property'
      tags:
      - UserAPI
    put:
      operationId: updateUser
      description: |
[...]
